html, body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

input[type=text] {
  position: absolute;
  display: block;
  top: 0;
  width: 50%;
  bottom: 0;
  text-align: center;
  font-size: 2em;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  transition: all 100ms ease-in-out;
  background-image: url(/static/arrow.png);
  background-repeat: no-repeat;
  background-position: center calc(100% + 300px);
}

input[type=text]:focus {
  /*border-width: 5px;*/
  font-size: 3.5em;
  background-position: center -100%;
  background-position: center calc(100% - 30px);
  /*text-decoration: underline;*/
  /*font-weight: bold;*/
}

#a {
  left: 0;
  right: 50%;
  background-color: #A7DBD8;
}

#b {
  left: 50%;
  right: 0;
  background-color: #F38630;
}

.wrap {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 100;
}

h1 {
  padding: 15px;
  max-width: 500px;
  text-align: center;
  background-color: #eee;
  border-radius: 5px;
  background-color: #eee;
  margin: 0 auto;
}

@media screen and (max-height: 700px) {
  input[type=text] {
    background-size: 100px;
  }
}

/*@media screen and (max-height: 400px) {*/
@media only screen and (min-device-width: 480px) {
    input[type=text] {
    background-image: none;
    font-size: 1em;
  }
  input[type=text]:focus {
    font-size: 1.1em;
  }
  h1 {
    display: none;
  }

  #a {
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    width: 100%;
  }

  #b {
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}