html, body {
  height: 100%;
  width: 100%;
    font-family: 'Lato', sans-serif;
}

input[type=text] {
  position: absolute;
  display: block;
  top: 0;
  width: 50%;
  bottom: 0;
  text-align: center;
  font-size: 2em;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  transition: all 100ms ease-in-out;
  background-image: url(/static/arrow.png);
  background-repeat: no-repeat;
  background-position: center calc(100% + 300px);
}

input[type=text]:focus {
  /*border-width: 5px;*/
  font-size: 3.5em;
  background-position: center -100%;
  background-position: center calc(100% - 30px);
  /*text-decoration: underline;*/
  /*font-weight: bold;*/
}

#a {
  left: 0;
  right: 50%;
  /*background-color: #A7DBD8;*/
  background-color: #243743;
  color: white;
}


#b {
  left: 50%;
  right: 0;
  /*background-color: #F38630;*/
  background-color: #8A949B;
}

.wrap {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 100;
}

.inwrap {
    position: relative;
}


/* TODO: make popup disappear and not be ugly*/
.popup {
    width: 80%;
    height: 100px;
    top: 25px;
    z-index: 200;
    background-color: darkgray;
    padding-top: 12px;
    position: relative;
    margin: 0 auto;
    font-size: .7em;
    border-radius: 10px;
    display: table-cell;
    color: black;
    display: none;
}

/* The second popup */
.popup + .popup {
    padding-top: 10px;
    margin-top: 10px;
    width: 80%;
    font-size: .5em;
    height: 70px;
}

.popup a {
    color: black;
    text-decoration: none;
    transition: color 100ms ease-in-out;
}

.popup a:hover {
    color: black;
    text-shadow: 0 0 2px black;
    transition: color 100ms ease-in-out, text-shadow 100ms ease-in-out;
}

h1:hover {
    background-color: darkgray;
    transition: background-color 100ms ease-in-out;
}

h1:hover .popup {
    display: block;
}



h1 {
  padding: 5px 15px 15px 15px;
  max-width: 500px;
  max-height: 37px;
  text-align: center;
  background-color: #eee;
  border-radius: 5px;
  background-color: #eee;
  margin: 0 auto;
  transition: background-color 100ms ease-in-out;
}

@media screen and (max-height: 700px) {
  input[type=text] {
    background-size: 100px;
  }
}

@media screen and (max-height: 400px) {
/*@media handheld {*/
    input[type=text] {
    background-image: none;
    font-size: 1em;
  }
  input[type=text]:focus {
    font-size: 1.1em;
  }
  h1 {
    display: none;
  }

  #a {
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    width: 100%;
  }

  #b {
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}
